# Build outputs
bin/
obj/

# Test results
TestResults/
NUL

# Emulator
__azurite_db_blob__.json
__azurite_db_blob_extent__.json
__azurite_db_queue__.json
__azurite_db_queue_extent__.json
__azurite_db_table__.json

__queuestorage__/**
__blobstorage__/**
